/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/10/2016, 6:27:14 PM
    Author     : DuleNBA
*/

.benefits-section .section-title {
    width: 240px;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
}



ul.animate {
	-webkit-transition: -webkit-transform 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
       -moz-transition: transform 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
         -o-transition: transform 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
            transition: transform 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
}

.stage {
	width: 100%;
	margin: 0 auto;
	padding: 0 12%;
	text-align: center;
	overflow: hidden;
}
	
.sldr {
	max-width: 450px;
	margin: 0 auto;
	overflow: visible;
	position: relative;
	clear: both;
	display: block;
}

.sldr > ul > li {
	float: left;
	display: block;
	width: 450px;
}

div.skew {
	max-width: 450px;
	margin: 0 auto;

	display: block;
	overflow: hidden;

	-webkit-transform: skewX(16deg);
       -moz-transform: skewX(16deg);
        -ms-transform: skewX(16deg);
            transform: skewX(16deg);
}

div.skew > div.wrap {
	display: block;
	overflow: hidden;

	-webkit-transform: skewX(-16deg);
	   -moz-transform: skewX(-16deg);
	    -ms-transform: skewX(-16deg);
	        transform: skewX(-16deg);

	margin-left: -10.1%;
	width: 122%;
}



.selectors {
	/*margin: 15px 0 0;*/
}

.selectors li {
	font-size: 46px;
	line-height: 32px;
	display: inline;
	padding: 0 2px;	
}

.selectors li a {
	text-decoration: none;
}

.selectors li.focalPoint a {
	color: #f5f8fa;
	cursor: default;
}

.captions div {
	left: 200%;
	position: fixed;
	opacity: 0;

	-webkit-transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
       -moz-transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
         -o-transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
            transition: opacity 0.75s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
}

.captions div.focalPoint {
	opacity: 1;
	left: inherit;
	position: static;
}

.clear {
	display: block;
	width: 100%;
	height: 0px;
	overflow: hidden;
	clear: both;
}


.content {
 position:relative;
 top:0%;
 left:0%;
 width:100%;
 height: 100%;
}

.shopHover {
 position:relative;
 top:0%;
 left:0%;
 width:100%;
 height: 100%;
}


.price {
 position:relative;
 top:0%;
 left:0%;
 width:100%;
 height: 40%;
}

.eventklub{
 top:10%;
 width:250px !important;
 height: 100%;
 text-align: center;
 display: table;
 margin: 0 auto;
}

.lajna{
  position:relative;
  content: '';
  width: 4rem;
  height: 0.1rem;
  background-color: #f5f8fa;
  top:10%;
  display: table;
  margin: 0 auto;
}
.proTitle{
 position:relative;
 top:15%;
 left:0%;
 width:100%;
 height: 20%;  
 font-size: 1.8rem;
 text-transform: uppercase;
 color:#f5f8fa;
 font-weight: 600;
 margin-bottom: 0.5rem;
 text-decoration: none;
    
}

.proSubtitle{
      color: #adacac;
  font-family: 'Karla', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
 position:relative;
 top:0%;
 left:0%;
 width:100%;
 height: 10%;  
 text-align: center;
}

.stasveima{
     position:relative;

     width:20%;
     height: 10%; 
     left:15px;
     top:13%;
     display: table;
     text-align: left;
    
}

.slicice{
    width: 30px !important;
    height: 30px !important;
    float:left; 
}