/* 
    Created on : Oct 21, 2016, 12:10:15 PM
    Author     : Bogdana
*/

/* #Header Section
================================================== */

#header-section {
    line-height: 80px;
    display: none;
}
.ha-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 9999;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.ha-header.ha-transparent {
    background: transparent;
    box-shadow: none;
}
.ha-header.ha-transparent:hover {
    background: rgb(2,2,2);
    background: rgba(2,2,2,0.7);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
.ha-non-transparent {
    background: rgb(2,2,2);
    //background: rgba(253,253,253,0.8);
    background: rgba(2,2,2,0.7);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.ha-transparent a {
    color: #aaaaaa;
}
.ha-non-transparent a {
    //color: #222222;
    color: #aaaaaa;
}

/* #Navigation
================================================== */
.top-nav {
    width: 690px;
    position: relative;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 656px;
}
.top-nav-menu-item {
   text-align: center;
   width: 130px;
}
.top-nav-menu-separator {
    width: 20px;
    line-height: 80px;   
    text-align: center;
    background: #bb9b50;
    width: 1px;
    height: 30px;
    position: relative;
    top: 25px;
}
.top-nav-menu-separator img {
    position: relative;
    bottom: 42px;
}
/* don't display Menu and Home in menu on desktops */
a#pull, ul.top-nav-menu li:first-child {
    display: none;
}
ul.top-nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.top-nav-menu li {
    float: left;
}
ul.top-nav-menu li div {
    display: inline-block;
}
li.top-nav-menu-item div a {  
    //color: #aaaaaa;
    font-size: 13px;
}
li.top-nav-menu-item div a:hover, li.top-nav-menu-item div a:active {
    color: #bb9b69;
}

.top-nav-submenu-item {
   text-align: center;
   min-width: 130px;
}
ul.top-nav-submenu {
    display: none;
    position: relative;
    left: -1px;
    //background: rgb(7,7,7);
    list-style-type: none;
    margin: 0;
    margin-top: -26px;
    padding: 0;
    font-size: 12px;
    line-height: 30px;
    width: 132px;
    border: 1px solid #bb9b50;
    border-top: none;
}
ul.top-nav-submenu li {
    float: left;
}
ul.top-nav-submenu li:first-child {
    display: list-item;
}

/* #Center Logo
================================================== */

.site-logo {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    height: 80px;
    line-height: 80px;
    position: relative;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.site-logo:hover {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.site-logo img {
    max-height: 75px;
    vertical-align: middle;
}

/* #Media Queries
================================================== */

/* Phone & Small Tablets */
@media screen and (max-width: 767px) {
    #header-section.fullwidth {
        line-height: 50px;
        padding: 0 10px;
        max-height: 310px;
        
        //background: rgb(2,2,2);
    }
    .ha-non-transparent a {
        color: #aaaaaa;
    }
    .top-nav {
        max-height: 260px;
        width: 100%;
        left: 0;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        height: auto;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    /* don't display Logo in menu on mobile */
    li#home-logo.top-nav-menu-item, li.top-nav-menu-separator {
        display: none;  
    }
    /* display Home in menu on mobile */
    ul.top-nav-menu li:first-child {
        display: list-item;
    }
    ul.top-nav-menu {
        line-height: 50px;
        display: none;
        list-style-image: url('../../storage/app/images/diamond-gray.png');
        list-style-position: inside;
        list-style: none;
    }    
    ul.top-nav-menu li {
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        border-bottom: solid 1px #bb9b50;
        padding-left: 20px;
    }
    ul.top-nav-menu li:nth-child(11) {
        border: none; 
    }
    /*ul.top-nav-menu li:hover, ul.top-nav-menu li:active, ul.top-nav-menu li a:hover, ul.top-nav-menu li a:active {
        background: #251f15;
        color: #bb9b69;
    }*/
    
    /* display Menu and nav icon on mobile */
    a#pull {
        display: block;
        width: 100%;
        position: relative;
        color: #aaaaaa;
    }
    a#pull:after {
        content: "";
        background: url('../../storage/app/images/nav-icon-gray.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 10px;
    }
    a#pull:hover, nav a#pull:active {
        color: #bb9b69;
    }
    a#pull:hover:after, nav a#pull:active:after {
        background: url('../../storage/app/images/nav-icon-gold.png') no-repeat;
    }
    
    ul.top-nav-submenu {
        width: 100%;
        line-height: 30px;
        display: none;
        list-style: none;
        border: none;
        left: -1px;
        margin: 0;
    }    
    ul.top-nav-submenu li {
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        border: none;
        color: #aaaaaa;
        padding-left: 20px;
        //border-top: solid 2px #222222;
    }
    ul.top-nav-submenu li:hover, ul.top-nav-submenu li:active, ul.top-nav-submenu li:hover a, ul.top-nav-submenu li:active a {
        background: #0a0a0a;
        color: #bb9b69;
    }
}

/* Tablet Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #header-section.fullwidth {
        padding: 0 10px;
    }
}
