/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2016, 1:47:53 AM
    Author     : Bogdana
*/

/* Common
================================================================================*/
.background {   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url(../../storage/app/images/subtle-dots.png) repeat;
}

.content {
    position: relative;
    left: 0;
    right: 0;
    z-index: 9000;
    background: transparent;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    width: 200px;
    height: 45px;
    line-height: 100%;
    box-sizing: border-box;
    text-align: center; 
    margin: 30px 0 30px 0;   
}

.section-title h2 {
    font-size: 27px;
}

.horizontal-line {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    height: 1px;
    width: 65px;
    background-color: #bb9b50;
    margin: 20px 0 20px 0;
}

.section-title .horizontal-line {
    margin: 4px 0 0 0;
}

.section-description {
    position: relative;
    left: 20%;
    width: 60%;
    height: auto;
    padding: 30px 0 30px 0;
    word-wrap: break-word;   
    line-height: 28px;
    text-align: center;
    font-size: 24px;
}

.section-description p {
    color: #bb9b69;
}

.section-description p a {
    color: #888888;
}

.section-description p span {
    color: #888888;
    font-family: Georgia, serif; 
    font-style: italic;
}

.belux-logo {
    letter-spacing: 0px;
}

.belux-logo span {
    color: #bb9b50;
    font-family: Georgia, serif; 
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.ribbon {
    position: relative;
    width: 100%;
    height: auto;
    margin: 50px 0 50px 0;
    padding: 30px 0 30px 0;   
}

/* animation element fading in */
.animation-element {    
    opacity: 0;   
}
.animation-element.fade-in {
    opacity: 0;
    -webkit-transition: all 1000ms linear;
    transition: all 1000ms linear;
}
.animation-element.fade-in.in-view {
    opacity: 1;
}

/* animation shake */
@keyframes shake {
    10%, 90% {
      -webkit-transform: translate3d(-1px, 0, 0);
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      -webkit-transform: translate3d(2px, 0, 0);
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      -webkit-transform: translate3d(-4px, 0, 0);
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      -webkit-transform: translate3d(4px, 0, 0);
      transform: translate3d(4px, 0, 0);
    }
}

/* animation floating */
.floating {
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating {
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

/* animation scaling */
.scaling {
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}    
    }

/*      Video section
================================================================================*/
.video-section {
    /*position: absolute;
    float: top;
    left: 0;
    top: 0;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;*/
    position: relative;
    //padding-bottom: 56.25%;
    height: 100vh;
    width: 100vw;
}

video-section iframe::-webkit-media-controls {
  display: none;
}

.video-section iframe {
    /*
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-section .widescreen {
  padding-bottom: 100%;
}

.video-section .overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    width: 100vw;
}

.video-section .overlay-text-row {   
    word-wrap: break-word; 
    box-sizing: border-box;
    width: auto;
}

.video-section .overlay-text-row.quotes {
    display: none;
}
    
.video-section h1.overlay-text-row {
    position: relative;
    top: 0%; 
    z-index: 3;
    text-align: center;  
    color: #f9f9f9;   
    font-size: 12px;
    font-weight: 200;
    border-bottom: 2px solid #bb9b50;
    padding: 10px 0px 10px 0px;
    margin: 0px 8% 0px 8%;
}

.video-section h2.overlay-text-row {  
    position: relative;
    z-index: 3;
    text-align: center; 
    color: #f9f9f9;
    font-size: 70px;      
    font-weight: 300;
    margin: 0px;
}

.video-section .overlay-text-row span {
    color: #bb9b69;
}

.scroll-sign {
    position: absolute;
    bottom: 10px;   
    z-index: 3;     
    width: 100%;
}

.scroll-sign a {
    position: relative;
    left: 50%;    
    text-align: center;
}

.video-section .scroll-sign img {
   position: relative;
   height: 9vh; 
   width: 10vh;
   transform: translate(-50%, 0) scale(1);
   -webkit-transform: translate(-50%, 0) scale(1);
   -webkit-transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.video-section .scroll-sign img:hover {
    transform: translate(-50%, 0) scale(0.9);
    -webkit-transform: translate(-50%, 0) scale(0.9);
}

/*      About us section
================================================================================*/

.about-us-section {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    //background-color: rgb(253,253,253) !important;
    background-color: #0a0a0a !important;
    text-align: center;
}

.about-us-section .background {
    //background-size: 1920px 1470px;
    background-size: 1440px 1102.5px;
    background-position: center 0px;
    background-image: url(../../storage/app/images/big-diamond.png);
}

.about-us-section .wrapper {
    position: relative;
    width: 100%;   
}

.about-us-section .ribbon {
    background: #0f0f0f; 
    border-top: 1px solid #bb9b50;
    border-bottom: 1px solid #bb9b50;
}

.about-us-section .center-quote {
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    margin: 60px 0 40px 0;
}

.about-us-section blockquote.center-quote {
    width: 700px;
    font-size: 20px;
}

.about-us-section h3 {
    color: #888888;
    font-size: 18px;   
    text-align: center;
}

.about-us-section h3 span {
    color: #bb9b50;
    font-size: 18px;
}

.about-us-section .about-us-container {
    position: relative;
    left: 20%;
    width: 60%;
    height: auto;
    padding: 0;
    word-wrap: break-word;   
    line-height: 20px;
    text-align: justify;
}

.about-us-section .about-us-container p {
    margin: 0;
}

.about-us-section .services-container {
    position: relative;
    height: auto;
    width: 100%;    
    background: #bb9b69;
    text-align: center;
}

.about-us-section .services-container ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   text-align: center;
   /*left: 50%;
   -webkit-transform: translate(-50%, 0%);
   transform: translate(-50%, 0%);*/
}

ul.services-list li {
    float: left;
    position:relative;
    min-width: 200px;
    height: 200px;
    background: red;
}

/*      Promotions section
================================================================================*/
.promotions-section {
    position: relative;
    top: 0;
    height: 324px;
    width: 100%;
    //background-color: white !important;
    border-top: 1px solid #bb9b50;
    overflow: hidden;
}

.promotions-section .background { 
    z-index: 0;
    background-position: center center;
    background-image: url(../../storage/app/images/luxury-party.jpg);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.55;    
}

.promotions-section .overlay:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
}

 .promotions-section .content {
  position: absolute;
  padding: 0;
  top: 0;
}

.promotions-section .card img {
    width: 250.5px;
    height: 156px;
}

.cards-container {
    float: left;
    position: relative;
    margin: 35px 20% 0 50px;
    width: 274.5px;
    height: 181px;  
    -webkit-perspective: 1000;
    -o-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

#cards {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cards figure {
    display: block;
    position: absolute;
    width: 250.5px;
    height: 156px;
    left: 12px;
    top: 12.5px;
    -webkit-transition: -webkit-transform 1s, opacity 500ms;
    transition: -webkit-transform 1s, opacity 500ms;
    transition: transform 1s, opacity 500ms;
    transition: transform 1s, -webkit-transform 1s, opacity 500ms; 
}

#cards figure:first-child {
    -webkit-transform: translate3d(0, 0, 0px); 
    transform: translate3d(0, 0, 0px);
    
}

#cards figure:last-child {
    -webkit-transform: translate3d(100px, 10px, -200px); 
    transform: translate3d(100px, 10px, -200px);
    //opacity: 0.95;
}

#cards figure:last-child .floating {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
}

.promotions-section .promotions-container {
    position: relative;
    padding: 0;
    top: 0;
    margin: 0 50px 0px auto;
    width: auto;
    height: 324px;   
    background: transparent;
    word-wrap: break-word;   
    line-height: 20px;
    overflow: hidden;
    color: #0a0a0a;
}

.promotions-section .promotions-container h1 {
    margin: 30px 0 30px 0;
    font-weight: 400;
}

.promotions-section .promotions-container h1 span {
    font-family: Georgia, serif;
    font-style: italic;
    color: #bb9b69;
}

.promotions-section .promotions-container p {
    margin: 10px 0 auto 0;
    padding-left: 15px;
    border-left: 2px solid #bb9b50;
    text-align: left;
    font-size: 16px;
    color: #888888;
}

.promotions-section .promotions-container #promotion {
    font-size: 22px;
    color: #bb9b69;
    font-weight: 400;
}

.promotions-section .promotions-container p span {
    font-style: italic;
    color: #888888;
    font-family: Georgia, serif;
}

/*      Packages section
================================================================================*/

.packages-section {
    position: relative;
    top: 0;
    height: auto;
    background-color: #0a0a0a !important;
    border-top: 1px solid #bb9b50;
}

.packages-section .background {   
    background-position: center center;
    //background-size: 1920px 1470px;
    //background-image: url(../../storage/app/images/bckgrnd.jpg);
}

.packages-container {
    position: relative;
    width: 100%;
    padding-top: 50px;   
    padding-bottom: 100px;
}

.packages-section .previous-btn, .packages-section .next-btn {
    display: none;
}

.carousel-container {
  width: 387.5px;
  height: 252px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  position: relative;
  -webkit-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#carousel figure {
  display: block;
  position: absolute;
  width: 363.5px;
  height: 227px;
  left: 12px;
  top: 12.5px;
  -webkit-transition: -webkit-transform 1s, opacity 500ms;
  transition: -webkit-transform 1s, opacity 500ms;
  transition: transform 1s, opacity 500ms;
  transition: transform 1s, -webkit-transform 1s, opacity 500ms; 
}

/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000;
    perspective: 1000;
}
/* flip the pane when hovered */
/*
.flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
*/
.flip-container, .front, .back {
    width: 363.5px;
    height: 227px;
}
/* flip speed goes here */
.flipper {
    transform-origin: 100% 113.5px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
/* back, initially hidden pane */
.back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg) /*translateZ(45px)*/;
}

.bottom {
    width: 300px;
    height: 20px;
    background: red;
    transform-origin: 0px 180px;
    transform: rotateX(285deg) translateY(180px);
}

.card img {
  width: 363.5px;
  height: 227px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#carousel figure:nth-child(1) {
    -webkit-transform:  translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
}
#carousel figure:nth-child(2) { 
    -webkit-transform:  translate3d(440px, 0, -20px) scale(0.65);
    transform: translate3d(440px, 0, -20px) scale(0.65);
    opacity: 1;
}
#carousel figure:nth-child(3) { 
    -webkit-transform:  translate3d(240px, 0, -40px) scale(0.4);
    transform: translate3d(240px, 0, -40px) scale(0.4);
    opacity: 0.9;
}
#carousel figure:nth-child(4) { 
    -webkit-transform:  translate3d(0, 0, -60px) scale(0.25);
    transform: translate3d(0, 0, -60px) scale(0.25);
    opacity: 0.9;
}
#carousel figure:nth-child(5) { 
    -webkit-transform:  translate3d(-240px, 0, -40px) scale(0.4);
    transform: translate3d(-240px, 0, -40px) scale(0.4);
    opacity: 0.9;
}
#carousel figure:nth-child(6) { 
    -webkit-transform:  translate3d(-440px, 0, -20px) scale(0.65);
    transform: translate3d(-440px, 0, -20px) scale(0.65);
    opacity: 1;
}

/* #Media Queries
================================================================================ */
@media screen and (min-width: 768px) and (max-width: 1120px) {  
    /* About us section
    ============================================================================ */
    .about-us-section blockquote.center-quote {
        width: 600px;
        font-size: 18px;
    }
    
    /* Packages section
    ============================================================================ */
    .packages-container {
        padding-top: 60px;
    }

    #carousel figure:nth-child(1) {
        -webkit-transform:  translate3d(0, 0, 0) scale(0.78);
        transform: translate3d(0, 0, 0) scale(0.78);
        opacity: 1;
    }
    #carousel figure:nth-child(2) { 
        -webkit-transform:  translate3d(270px, 0, -20px) scale(0.58);
        transform: translate3d(270px, 0, -20px) scale(0.58);
        opacity: 1;
    }
    #carousel figure:nth-child(3) { 
        -webkit-transform:  translate3d(135px, 0, -40px) scale(0.3);
        transform: translate3d(135px, 0, -40px) scale(0.3);
        opacity: 0.9;
    }
    #carousel figure:nth-child(4) { 
        -webkit-transform:  translate3d(0, 0, -60px) scale(0.2);
        transform: translate3d(0, 0, -60px) scale(0.2);
        opacity: 0.9;
    }
    #carousel figure:nth-child(5) { 
        -webkit-transform:  translate3d(-135px, 0, -40px) scale(0.3);
        transform: translate3d(-135px, 0, -40px) scale(0.3);
        opacity: 0.9;
    }
    #carousel figure:nth-child(6) { 
        -webkit-transform:  translate3d(-270px, 0, -20px) scale(0.58);
        transform: translate3d(-270px, 0, -20px) scale(0.58);
        opacity: 1;
    }
}

/* Phone & Small Tablets */
@media screen and (max-width: 767px) {
    
    /*     Common
    ================================================================================ */
    
    .content {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    .section-description {   
        left: 10%;
        width: 80%;
        padding: 30px 0 30px 0;  
        line-height: 18px;
        font-size: 16px;
    }

    /*     Video-section
    ================================================================================ */
    
    .video-section .overlay-text {
        top: 30%;
    }
    
    .video-section h1.overlay-text-row {
        font-size: 12px;
    }
   
    .video-section h2.overlay-text-row { 
        font-size: 40px;
    }
    
    /*      About us section
    ================================================================================ */

    .about-us-section .background {
        //background-size: 1920px 1470px;
        background-size: 1440px 1102.5px;
        background-position: center 0px;
    }
    
    .about-us-section .center-quote {
        margin: 50px 0 20px 0;
    }
    
    .about-us-section blockquote.center-quote {
        width: 350px;
        font-size: 18px;
    }
    
    .about-us-section blockquote.center-quote:before {
        font-size: 70px;
        left: -10px;
    }

    .about-us-section .about-us-container {
        padding: 0px 20px 0px 20px; 
        line-height: 15px;
        font-size: 12px;
        left: 10%;
        width: 80%;
    }
    
     /* Promotions section
    ============================================================================ */
    
    .promotions-section {
        height: 648px;
    }
  
    .cards-container {
        float: none;
        margin: 80px 0 0 0;
        left: 50%;
        transform: translate(-60%, 0);
        -webkit-transform: translate(-60%, 0);
    }
    
    .promotions-section .content {
        padding: 0;
    }

    .promotions-section .promotions-container {
        padding: 30px;
        margin: 70px 0 0 0;
        height: 324px;  
        line-height: 20px;
        text-align: center;
    }

    .promotions-section .promotions-container h1 {   
        margin: 30px 0 30px 0;
        font-weight: 400;
    }

    .promotions-section .promotions-container p {
        margin-top: 10px;
        text-align: center;
        padding-right: 15px;
        border-right: 2px solid #bb9b50;
    }
    
    /*      Packages section
    ================================================================================ */
    
    .packages-container {
        padding-top: 20px;
        padding-bottom: 150px;
    }
    
    .packages-section .previous-btn, .packages-section .next-btn {
        display: block;
        position: absolute;
        height: 30px;
        width: 30px;
        top: 167px;
        cursor: pointer;
        z-index: 500;
        background-color: #0a0a0a;
    }
    
    .packages-section .previous-btn {
        left: 20px;
        transform: rotateY(180deg);
    }
    
    .packages-section .next-btn {
        right: 20px;
    }

    .carousel-container {
        width: 387.5px;
        height: 252px;
        /*
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        left: 30px;
        */
    }

    #carousel figure {
      width: 363.5px;
      height: 227px;
      left: 12px;
      top: 12.5px;
      opacity: 1;
    }

    .flip-container, .front, .back {
        width: 363.5px;
        height: 227px;
    }
    /* flip speed goes here */
    .flipper {
        transform-origin: 100% 113.5px;
    }
    
    .card img {
        width: 363.5px;
        height: 227px;
        border-radius: 5px;
        //box-shadow: 0px 10px 9px 5px rgba(0,0,0,0.15);
    }
    
    #carousel figure:nth-child(1) {
        -webkit-transform:  translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }
    #carousel figure:nth-child(2) { 
        -webkit-transform:  translate3d(440px, 0, -20px) scale(0.65);
        transform: translate3d(440px, 0, -20px) scale(0.65);
        opacity: 1;
    }
    #carousel figure:nth-child(3) { 
        -webkit-transform:  translate3d(240px, 0, -40px) scale(0.4);
        transform: translate3d(240px, 0, -40px) scale(0.4);
        opacity: 0.9;
    }
    #carousel figure:nth-child(4) { 
        -webkit-transform:  translate3d(0, 0, -60px) scale(0.25);
        transform: translate3d(0, 0, -60px) scale(0.25);
        opacity: 0.9;
    }
    #carousel figure:nth-child(5) { 
        -webkit-transform:  translate3d(-240px, 0, -40px) scale(0.4);
        transform: translate3d(-240px, 0, -40px) scale(0.4);
        opacity: 0.9;
    }
    #carousel figure:nth-child(6) { 
        -webkit-transform:  translate3d(-440px, 0, -20px) scale(0.65);
        transform: translate3d(-440px, 0, -20px) scale(0.65);
        opacity: 1;
    }
    
     /*     Events-section
    ================================================================================ */
     
}

/* Phones */
@media screen and (max-width: 450px) {
    
    /*     Common
    ================================================================================ */
    
    .section-description {   
        padding: 15px 0 15px 0;
    }
    
    /*     Video-section
    ================================================================================ */
    
    .video-section .overlay-text {
        top: 35%;
    }
    
    .video-section h1.overlay-text-row {
        font-size: 12px;
    }
   
    .video-section h2.overlay-text-row { 
        font-size: 40px;
    }
    
    /*      About us section
    ================================================================================*/

    .about-us-section .background {
        //background-size: 1920px 1470px;
        background-size: 960px 735px;
        background-position: center 0px;
    }
    
    .about-us-section .center-quote {
        margin: 50px 0 20px 0;
    }
    
    .about-us-section blockquote.center-quote {
        width: 250px;
        font-size: 15px;
    }
    
    .about-us-section blockquote.center-quote cite {
        font-size: 10px;
    }
    
    .about-us-section blockquote.center-quote:before {
        font-size: 60px;
        left: -10px;
    }

    .about-us-section .about-us-container {
        padding: 0 15px 0 15px; 
        line-height: 15px;
        font-size: 12px;
    }
    
    /*      Promotions section
    ================================================================================*/
    
    .promotions-section .promotions-container {
        padding: 15px;
    }
    
    /*      Packages section
    ================================================================================*/
    
    .packages-section .previous-btn, .packages-section .next-btn {
        height: 30px;
        width: 30px;
        top: 140px;
    }
    
    .packages-section .previous-btn {
        left: 5px;
    }
    
    .packages-section .next-btn {
        right: 5px;
    }
    
    .carousel-container {
        transform: translate(-50%, 0) scale(0.8);
        -webkit-transform: translate(-50%, 0) scale(0.8);
    }
}

