/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2016, 1:47:53 AM
    Author     : Bogdana
*/

/* Common
================================================================================*/
.background {   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/*      Video section
================================================================================*/
.video-section {
    /*position: absolute;
    float: top;
    left: 0;
    top: 0;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;*/
    position: relative;
    //padding-bottom: 56.25%;
    height: 100vh;
    width: 100vw;
}

video-section iframe::-webkit-media-controls {
  display: none;
}

.video-section iframe {
    /*
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-section .widescreen {
  padding-bottom: 100%;
}

.video-section .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url(../../storage/app/images/subtle-dots.png) repeat;
}

.video-section .overlay-text {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    width: 100vw;
}

.video-section .overlay-text-row {   
    word-wrap: break-word; 
    box-sizing: border-box;
    width: auto;
}

.video-section .overlay-text-row.quotes {
    display: none;
}
    
.video-section h1.overlay-text-row {
    position: relative;
    top: 0%; 
    z-index: 3;
    text-align: center;  
    color: #f9f9f9;   
    font-size: 12px;
    font-weight: 200;
    border-bottom: 2px solid #F1DB6E;
    padding: 10px 0px 10px 0px;
    margin: 0px 8% 0px 8%;
}

.video-section h2.overlay-text-row {  
    position: relative;
    z-index: 3;
    text-align: center; 
    color: #f9f9f9;
    font-size: 70px;      
    font-weight: 300;
    margin: 0px;
}

.video-section .overlay-text-row span {
    color: #F1DB6E;
}

.scroll-sign {
    position: absolute;
    bottom: 10px;   
    z-index: 3;     
    width: 100%;
}

.scroll-sign a {
    position: relative;
    left: 50%;    
    text-align: center;
}

.video-section .scroll-sign img {
   position: relative;
   height: 9vh; 
   width: 10vh;
   transform: translate(-50%, 0) scale(1);
   -webkit-transform: translate(-50%, 0) scale(1);
   -webkit-transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.video-section .scroll-sign img:hover {
    transform: translate(-50%, 0) scale(0.9);
    -webkit-transform: translate(-50%, 0) scale(0.9);
}

/*      About us section
================================================================================*/

.about-us-section {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fffef7 !important;
    text-align: center;
}

.about-us-section .background {
    background-position: center 50px;
    background-image: url(../../storage/app/images/big-diamond.png);
}

.about-us-section .about-us-title {
    position: relative;
    top: 20%;
    left: 0%;
    width: 20%;
    height: 7%;
    line-height: 100%;
    border-bottom: #F1DB6E 1px solid;
    margin: 0 40% 0 40%;
    box-sizing: border-box;
}

.about-us-section .about-us-container {
    position: relative;
    top: 23%;
    left: 10%;
    width: 80%;
    height: 35%;
    padding: 50px 40px 50px 40px;
    border: solid 3px #F1DB6E;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    word-wrap: break-word;   
    line-height: 20px;
}

/* animation element fading in */
.about-us-section .animation-element {    
    opacity: 0;   
}

.about-us-section .animation-element.fade-in {
    opacity: 0;
    -webkit-transition: all 1000ms linear;
    transition: all 1000ms linear;
}

.about-us-section .animation-element.fade-in.in-view {
    opacity: 1;
}

/*      Packages section
================================================================================*/
.packages-section {
    position: relative;
    top: 0;
    height: 690px;
    background-color: #fffef7 !important;
}

.packages-section .background {   
    background-position: center 100px;
    background-image: url(../../storage/app/images/big-diamond.png);
}

.packages-container {
    position: relative;
    top: 35%;
}

.carousel-container {
  width: 387.5px;
  height: 252px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  position: relative;
  -webkit-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#carousel figure {
  display: block;
  position: absolute;
  width: 363.5px;
  height: 227px;
  left: 12px;
  top: 12.5px;
  -webkit-transition: -webkit-transform 1s, opacity 500ms;
  transition: -webkit-transform 1s, opacity 500ms;
  transition: transform 1s, opacity 500ms;
  transition: transform 1s, -webkit-transform 1s, opacity 500ms; 
}

/* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
/* flip the pane when hovered */
/*
.flip-container:hover .flipper, .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
*/
.flip-container, .front, .back {
    width: 363.5px;
    height: 227px;
}
/* flip speed goes here */
.flipper {
    transform-origin: 100% 113.5px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    -webkit-transform: rotateX(5deg);
    transform: rotateX(5deg);
}
/* back, initially hidden pane */
.back {
    -webkit-transform: rotateX(185deg);
    transform: rotateX(185deg) /*translateZ(45px)*/;
}

.bottom {
    width: 300px;
    height: 20px;
    background: red;
    transform-origin: 0px 180px;
    transform: rotateX(285deg) translateY(180px);
}

.card img {
  width: 363.5px;
  height: 227px;
  //border-radius: 10px;
  box-shadow: 0px 0px 14px 11px rgba(0,0,0,0.15);
  cursor: pointer;
}

#carousel figure:nth-child(1) {
    -webkit-transform:  translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
}
#carousel figure:nth-child(2) { 
    -webkit-transform:  translate3d(440px, 0, -20px) scale(0.65);
    transform: translate3d(440px, 0, -20px) scale(0.65);
    opacity: 1;
}
#carousel figure:nth-child(3) { 
    -webkit-transform:  translate3d(240px, 0, -40px) scale(0.4);
    transform: translate3d(240px, 0, -40px) scale(0.4);
    opacity: 0.9;
}
#carousel figure:nth-child(4) { 
    -webkit-transform:  translate3d(0, 0, -60px) scale(0.25);
    transform: translate3d(0, 0, -60px) scale(0.25);
    opacity: 0.9;
}
#carousel figure:nth-child(5) { 
    -webkit-transform:  translate3d(-240px, 0, -40px) scale(0.4);
    transform: translate3d(-240px, 0, -40px) scale(0.4);
    opacity: 0.9;
}
#carousel figure:nth-child(6) { 
    -webkit-transform:  translate3d(-440px, 0, -20px) scale(0.65);
    transform: translate3d(-440px, 0, -20px) scale(0.65);
    opacity: 1;
}

/* Benefits section
================================================================================ */
.benefits-section {
  height: 45%;  
}

.benefits-section .background {
    background-color: #0a0a0a !important;
    background-position: center 100px;
    background-image: url(../../storage/app/images/big-diamond.png);
}

/* #Media Queries
================================================================================ */
@media screen and (min-width: 768px) and (max-width: 1120px) {  
    // for packages section
    #carousel figure:nth-child(1) {
        -webkit-transform:  translate3d(0, 0, 0) scale(0.78);
        transform: translate3d(0, 0, 0) scale(0.78);
        opacity: 1;
    }
    #carousel figure:nth-child(2) { 
        -webkit-transform:  translate3d(270px, 0, -20px) scale(0.58);
        transform: translate3d(270px, 0, -20px) scale(0.58);
        opacity: 1;
    }
    #carousel figure:nth-child(3) { 
        -webkit-transform:  translate3d(135px, 0, -40px) scale(0.3);
        transform: translate3d(135px, 0, -40px) scale(0.3);
        opacity: 0.9;
    }
    #carousel figure:nth-child(4) { 
        -webkit-transform:  translate3d(0, 0, -60px) scale(0.2);
        transform: translate3d(0, 0, -60px) scale(0.2);
        opacity: 0.9;
    }
    #carousel figure:nth-child(5) { 
        -webkit-transform:  translate3d(-135px, 0, -40px) scale(0.3);
        transform: translate3d(-135px, 0, -40px) scale(0.3);
        opacity: 0.9;
    }
    #carousel figure:nth-child(6) { 
        -webkit-transform:  translate3d(-270px, 0, -20px) scale(0.58);
        transform: translate3d(-270px, 0, -20px) scale(0.58);
        opacity: 1;
    }
}

/* Phone & Small Tablets */
@media screen and (max-width: 767px) {
    .video-section .overlay-text {
        top: 30%;
    }
    
    .video-section h1.overlay-text-row {
        font-size: 12px;
    }
   
    .video-section h2.overlay-text-row { 
        font-size: 40px;
    }
}

/* Phones */
@media screen and (max-width: 450px) {
    .video-section .overlay-text {
        top: 30%;
    }
    
    .video-section h1.overlay-text-row {
        font-size: 12px;
    }
   
    .video-section h2.overlay-text-row { 
        font-size: 40px;
    }
}

