/* 
    Created on : Oct 21, 2016, 3:08:00 PM
    Author     : Bogdana
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600');

/* #Reset
================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-size: 100%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
    line-height: 1;
}
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
nav, 
section {
    display: block;
}
ol, ul {
    list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, 
th, 
td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, 
q:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: 0px;
    color: #bb9b50;
}
blockquote:after,
q:after {
    content: "";
}
blockquote cite:before {
    content: "\2014 \2009";
}
blockquote, 
q {
    quotes: "" "";
}
a:focus {
    outline: 0;
}
a:hover, 
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
    outline: 0;
}
a img {
    border: 0;
}

/* #General
================================================== */

* {
    margin:0;
    padding:0;
}
*, *:after, *::before {
    box-sizing: border-box;
}
html {
    height:100% !important;
    min-height:100% !important;
}
body {
    margin:0;
    padding:0;
    height:100%;
    min-height:100%;
    width:100%;
    background: #0a0a0a;
    /*font: 14px/22px "ralewayregular", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    font: 14px/22px "ralewayregular", Raleway, sans-serif;
    font-weight: 200;
    color: #aaaaaa;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    letter-spacing:0.5px;
    overflow-x:hidden;
}

// color of the selected text
::-moz-selection {
    background: #bb9b69;
    color: #f9f9f9;
}
::selection {
    background: #bb9b69;
    color: #f9f9f9;
}

/* #Typography & HTML Standard Tags
================================================== */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #aaaaaa;
	line-height: 150%;
	font-weight: normal;
	margin-top:0;
}
h1 {
	font-size:30px;
	margin-bottom:5px;
}
h2 {
	font-size:22px;
	margin-bottom:10px;
}
h3 {
	font-size:17px;
	margin-bottom:15px;
}
h4 {
	font-size:15px;
	margin-bottom:12px;
}
h5 {
	font-size:14px;
	margin-bottom:5px;
}
h6 {
	font-size:12px;
	margin-bottom:5px;
}
h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a {
	color:#222222;
}
p img {
	margin: 0;
}
ul, 
ol, 
dl {
	margin-left: 30px;
}
table {
	border: 1px solid #EFEFEF;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 20px 0;
	text-align: left;
	padding: 0 5px;
	width:100%;
}
.ut-footer-dark .ut-footer-area table {
	border-color:#222222;
}
table .even {
	background: #DDDDDD;
}
tr {
	border-bottom: 1px solid #EFEFEF;
}
.ut-footer-dark .ut-footer-area tr {
	border-color: #222222;
}
th {
	font-weight:bold;
}
th, 
td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}
caption {
	text-align: left;
}
b, 
strong, 
dfn, 
kbd {
	font-weight: bold;
	color:#222222;
}
dfn, 
cite, 
em, 
i, 
address, 
q, 
samp, 
var {
	font-style: italic;
}
address {
	color:#aaaaaa;
        font-style: normal;
}
q {
	color:#aaaaaa;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}
blockquote {
	color:#aaaaaa;
	position:relative;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
	font-size:20px;
        font-style: italic;
	line-height:150%;
	padding:0 30px 0 30px;
	//text-transform:uppercase;
	letter-spacing:0.5px;
        width: 600px;
        font-family: Georgia, serif;

}
blockquote cite {
	font-size:12px;
	font-style:normal;
	display:block;
        margin-top: 5px;
        color: #7a7a7a;
        margin-top: 5px;
}
.format-quote blockquote {
	margin-left: 0;
	margin-right: 0;
	font-size:26px;
	line-height:150%;
}
pre {
	white-space: pre;
	overflow: auto;
	padding: 20px;
	clear: both;
	border-radius:3px;
}
var, 
kbd, 
code {
	padding: 3px;
}
abbr[title], 
acronym[title], 
dfn[title] {
	cursor: help;
	border-bottom: 1px dotted #666666;
}
del {
	text-decoration: line-through;
}
ins {
	text-decoration: underline;
}
mark, ins {
	text-decoration: none;
	padding:3px;
	color:#FFFFFF;
}
sup {
	font-size: 11px;
	vertical-align: top;
}
sub {
	font-size: 11px;
	vertical-align: bottom;
}
small {
	font-size: 11px;
}
big {
	font-size: 150%;
    font-weight:bold;
}
figure {
	margin: 0;
}
p, 
pre, 
ul, 
ol, 
dl, 
dd, 

address, 
table, 
fieldset, 
form {
	margin-bottom: 20px;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Removing the dotted outline */

object, embed {
	outline: 0;
}
button::-moz-focus-inner, 
input::-moz-focus-inner {
 border: 0;
 padding: 0;
}

/* #Links
================================================== */

a {
	text-decoration: none;
	outline: 0;
	-webkit-transition:0.2s color linear;
	transition:0.2s color linear;
	cursor:pointer;
        color: #aaaaaa;
}
a:hover {
	color: #222222;
	cursor:pointer;
}
a.light:hover {
    color: #f9f9f9;
}
a.dark:hover {
    color: #222222;  
}
a.gold:hover {
    color: #bb9b69;
}
a img {
	border: none;
	vertical-align: bottom;
}

/* #Images & Media
================================================== */

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	width: auto\9; /* ie8 */
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align:bottom;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
i.alignleft, img.alignleft {
	margin: 5px 20px 5px 0;
}
i.alignright, img.alignright {
	margin: 5px 0 5px 20px;
}
.alignright.ut-custom-icon {
	margin:0 0 0 10px;
}
.alignleft.ut-custom-icon {
	margin:0 10px 0 0;
}
img.aligncenter {
	margin: 5px auto;
}
img.alignnone {
	margin: 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 5px 0;
}
.wp-caption.alignright {
	margin: 5px 0 5px 20px;
}
.wp-caption.alignnone {
	margin: 5px 0 20px 0;
}
img.wp-smiley, 
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption.alignleft + ul, 
.wp-caption.alignleft + ol {
	list-style-position: inside;
}
/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
	width: 100% !important;
	margin:0 0 20px !important;
}

/* =Media
----------------------------------------------- */

.page-content img.wp-smiley, 
.entry-content img.wp-smiley, 
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	vertical-align:middle;
}
.wp-caption {
	position:relative;
	height:auto !important;
	overflow:hidden;
	max-width: 100%;
	padding:0;
	text-align:left;
	margin-bottom:20px;
}
.gallery-item a img, 
.wp-caption a img {
	box-shadow:0 0 0 #222222;
}
.gallery-item {
	margin-left:0 !important;
}
.gallery-item a img:hover, 
.wp-caption a img:hover {
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}
.wp-caption img, 
img[class*="wp-image-"] {
	border-radius:3px;
	max-width: 100%;
}
.wp-caption .wp-caption-text {
	margin:0;
	padding:5px;
}
.wp-caption-text {
	background: #222222;
	bottom: -50px;
	left: 0;
	margin: 0 !important;
	opacity: 0;
	padding: 1em 0;
	position: absolute;
	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	width: auto;
	color:#FFFFFF;
	font-size:11px;
	border-radius:0 0 0 3px;
}
.wp-caption:hover .wp-caption-text {
	bottom:0;
	opacity:0.8;
}
.gallery-caption {
	position:inherit !important;
	-webkit-transition:inherit !important;
	transition:inherit !important;
	opacity:1 !important;
	background:none !important;
	color:#999999;
}
.site-content .gallery {
	margin-bottom: 20px;
}
.gallery-caption {
}
.gallery img {
	border:none !important;
}
.gallery-item {
	margin-top:0 !important;
	overflow:hidden;
}
.site-content .gallery a img {
	border: none;
	height: auto;
	width: 100%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}
.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {
	max-width: 100%;
	height: auto;
}
embed, iframe, object {
	max-width: 100%;
}
.ut-video {
	margin-bottom:20px;
}